@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");
@import "./reset.css";
@import "./variables.css";

body {
  font-size: var(--font-large);
  font-family: "League Spartan", sans-serif;
}

/* main container style*/
.entire-page-container {
  display: grid;
  grid-template-columns: 1fr;
  color: hsl(var(--dark-gray));
}
.header {
  color: initial;
}

.banner-container,
.figure-2,
.figure-3 {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
.banner-container {
  background-image: url(../images/desktop-image-hero-1.jpg);
  transition: background-image 0.3s ease-in-out;
}

.figure-2 {
  background-image: url(../images/image-about-dark.jpg);
}
.figure-3 {
  background-image: url(../images/image-about-light.jpg);
}
img {
  height: 100%;
}
.article {
  align-self: center;
  padding: 6rem 10vw;
}
.attribution {
  text-align: center;
  padding-block: var(--spacing-small);
  color: initial;
}

/* NAVIGATION */
.nav {
  display: flex;
  align-items: center;
  gap: 10vw;
  color: hsl(var(--white));
  padding-block: var(--spacing-large);
  padding-inline-start: var(--spacing-small);
  overflow: hidden;
}
.menu-icon {
  cursor: pointer;
  justify-self: left;
  transition: all 300ms ease-in-out;
}
.menu-icon:hover {
  opacity: 0.6;
}
.banner-header {
  flex-grow: 0.7;
  opacity: 1;

  color: hsl(var(--white));
  text-align: center;
  padding-bottom: 4px;
  transition: all 300ms ease-in-out;
}
.nav__list {
  display: flex;
  gap: var(--spacing-large);
  transition: all 0.3s ease-in-out;
  display: none;
  transform: translateY(-500%);
  padding-bottom: 4px;
}
.nav__list-item {
  position: relative;
  padding-block-end: var(--spacing-very-small);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.nav__list-item:hover {
  opacity: 0.6;
}
.nav__list-item.active:after {
  content: " ";
  width: 50%;
  height: 2px;
  position: absolute;
  margin-inline: 25%; /* magic number to center the pseudo element */
  bottom: 0;
  left: 0;
  background-color: hsl(var(--white));
}

/* when the menu bar is clicked,  the header text should disappear */
.nav.open .banner-header {
  display: none;
  opacity: 0;
}
.nav.open .nav__list {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
  display: flex;
}
.nav.open .menu-icon {
  transform: rotate(360deg);
}

.nav__list-item a {
  text-decoration: none;
  color: var(--white);
}

.navigator {
  padding-top: 15px;
  padding-bottom: 10px;
  transition: all 300ms ease-in-out;
}
.navigator:hover {
  background: hsl(var(--white), 0.2);
  cursor: pointer;
}
/*=== end of navigation === */

/* ARTICLE 1 */
.article-1-header {
  font-size: 4rem;
  margin-block-end: var(--spacing-large);
}

.btn {
  text-transform: uppercase;
  letter-spacing: var(--spacing-small);
  border: transparent;
  background: transparent;
  cursor: pointer;
}
.shop-btn {
  margin-block-start: 3rem;
  font-weight: 600;
  white-space: nowrap; /* so that the pseudo-element does not wrap */
}
.shop-btn::after {
  content: url(/images/icon-arrow.svg);
}

/* ABOUT FURNITURE */
.about-product-header {
  text-transform: uppercase;
  letter-spacing: var(--spacing-very-small);
  margin-block-end: var(--spacing-large);
  word-spacing: var(--spacing-very-small);
  font-size: var(--font-small);
}

/* CAROUSEL CONTAINER */
.article-1 {
  position: relative;
  min-height: 350px; /* set to be same size as the image on its left */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.carousel-container {
  position: absolute;
  bottom: 0%;
  right: 100%;
  background: hsl(var(--black));
  max-width: max-content;
  display: flex;
  align-items: center;
}
.left-navigator {
  padding-inline: 2rem;
}
.right-navigator {
  padding-inline: 2rem;
}

/* 
=================================
  MEDIA QUERY 
=================================
*/
@media (min-width: 600px) {
  .entire-page-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .banner-container {
    grid-column: span 2;
  }
  .article-1 {
    grid-column: span 2;
  }
  .article {
    padding-inline: var(--spacing-extra-large);
    padding-block: var(--spacing-small);
  }
  .article-2 {
    grid-column: span 2;
  }
  .attribution {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  /* 2- factor-authentication, whether the NAV element contains the class of "open" or not, do not display the menu-icon */
  .nav.open .menu-icon,
  .nav .menu-icon {
    display: none;
  }
  .nav.open .nav__list,
  .nav .nav__list {
    display: flex;
    transform: translateY(0);
  }

  .banner-header {
    text-align: left;
    flex-grow: 0;
    font-size: 3rem;
  }
  .article {
    padding-inline: 6rem;
  }
  .carousel-container {
    left: 0%;
    right: 0%;
  }
  .banner-container {
    padding-block-start: var(--spacing-large);
  }
}

/* ============================= */
